.navsec {
    background-color: rgba(0, 0, 0, 0.679);
    opacity: 0.9;
}

.navbtn {
    border-radius: 12px;
    width: 90px;
    border: none;
    height: 35px;
    margin-top: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}

#Search {
    border-radius: 18px;
    border: none;
    box-shadow: 2px 2px 2px inset;
}

.navul {
    display: flex;
    list-style-type: none;
}

.navul li {
    font-size: 20px;
    padding: 12px 18px;
    cursor: pointer;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cardsec {
    margin: 2rem 50px 0px;
    padding-top: 12px;
    display: flex;
    border-radius: 18px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.675);
    z-index: 2;
}

.card {
    margin: 12px 20px;
    width: 300px;
    padding: 8px 8px;
    text-align: justify;
    background: red;
    border-radius: 12px;
}

.cardbtn {
    width: 120px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(21, 129, 212);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.desc {
    height: 80px;
    overflow: hidden;
}

.title {
    height: 50px;
    overflow: hidden;
}

.cardimg {
    height: 120px;
    border-radius: 12px;
}

.card button {
    position: relative;
}

.pagediv{
    padding: 12px 12px;
    display: flex;
    justify-content: space-around;
}

#nextbtn {
    width: 120px;
    background-color: rgba(0, 0, 0, 0.932);
    border: none;
    border-radius: 18px;
    height: 40px;
    color: white;
}

#prevbtn {
    width: 120px;
    background-color: rgba(0, 0, 0, 0.932);
    border: none;
    border-radius: 18px;
    height: 40px;
    color: white;
}

/* .loadimg{
    width: 80px;
    height: 80px;
    margin: 12px auto;
    display: block;
} */

.loadimg-hide{
    width: 80px;
    height: 80px;
    margin: 12px auto;
    display: none;
}

.nextprev{
    position: relative;
    padding: 12px 18px;
    display: flex;
    justify-content: space-around;
}

#country{
    width: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 35px;
    margin-top: 11px;
    border-radius: 12px;
}

#country option{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.693);
}